header{
    position: sticky;
    top: 0;
    z-index: 1000;   
    width: 100%;
    height: 100px;
    right: 0px;
    transition: all 300ms;
}
/*HEADER*/
.contenedorheader{
    max-width: 1600px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px 30px;
}

.logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 200px;
}

.nave{
    position: relative;
    height: 100%;
    
}

nav{
    height: 100%;
    transition: all 300ms;
}

nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    margin: 0px 20px;
    list-style: none;
}
nav ul li a{
    color: rgb(255, 255, 255);
    font-size: 27px;
    font-family:'Titan One';
    width: 220px;
    height: 110px;
}

.boxf{
    color: rgb(255, 255, 255);
    background-color:  #216045;
    border-color: #216045;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 15px;
}

/*FRASE(PARTE IZQUIERDA)*/
section.banner{
    background: linear-gradient(to right, #1A3A2C, #5A993C, #EBB42C);
    padding: 3rem 0;
}

.containerBox{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
    grid-gap: 2rem;
}

.col1{
    max-width: 800px;
    margin-top: 23px;
    margin-left: 20px;
    padding-right: 30px;
}
h1{
    max-width: 500px;
    font-size: 380%;
    
    padding-bottom: 25px;
    color:rgb(255, 255, 255);
    text-align: left;
    margin-left: 5px;
    font-family:'Titan One';
}
h2{
    text-align: left;
    padding-top: 15px;
    padding-bottom: 27px;
    padding-left: 0%;
    color:rgb(255, 255, 255);
    font-size: 30px;
    max-width: 550px;
    font-family:'Tenor Sans';
    font-style: normal;
}
/*REGISTRO*/
.login{
    max-width: 800px;
    margin-top: 40px;
    margin-left: 30px;
    padding-right: 30px;
}

.email{
    position: absolute;
    width: 350px;
    height: 30px;
    left: 38px;
    top: 490px;
}

.email input{
    width:100%;
    padding: 0 5px;
    height: 25px;
    font-size: 14px;
    border: 2px solid #EBB42C;
    border-radius: 6px;
    outline: none;
    font-family: 'Inter';
}

.register{
    position: absolute;
    width: 350px;
    height: 30px;
    left: 38px;
    top: 530px;
}

.register input{
    width: 34%;
    padding: 0 5px;
    height: 40px;
    font-size: 14px;
    color:white;
    background-color:#EBB42C;
    border: 2px solid #EBB42C;
    border-radius: 6px;
    outline: none;
    font-family: 'Inter';
}

/*PARTE DERECHA(PROFESORES)*/
.col2{
    padding: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.teaching{
    position: absolute;
    width: 650px;
    height: 465px;
    left: 600px;
    top: 110px;
}

.rrss{
    position: absolute;
    width: 370px;
    height: 90px;
    left: 690px;
    top: 540px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}

.rrss a img{ 
   width: 60px;
   height: 60px;
   text-align: center;
   filter:invert(100%)
}
